APP_ENV=development
APP_DEBUG=true

DATABASE_URL=postgresql+asyncpg://arpe:arpe@db:5432/dashboard_ouv_arpe
DATABASE_POOL_SIZE=10
DATABASE_MAX_OVERFLOW=20
POSTGRES_USER=arpe
POSTGRES_PASSWORD=arpe
POSTGRES_DB=dashboard_ouv_arpe

CORS_ORIGINS=["http://localhost:3000","http://localhost:3001"]
